/* default configuration*/
/*jangan dihapus Faiz Hermawan*/
body{
    margin : 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #373737;
}
.clear{
    float : none;
    clear : both;
}
.center{
    width : 961px;
    margin : 0 auto;
}

/*header configuration*/
#header{
    padding : 35px 0;
}

#header #logo{
    float : left;
}
#header .navigation{
    float : right;
    margin-top: 20px;
    font-family: Prototype;
}
#header .navigation ul{
    list-style-type : none;
    padding: 0;
    margin:0;
}
#header .navigation ul li{
    display: inline-block;
    font-size: 18px;
}
#header .navigation ul li a{
    padding: 20px 25px;
    text-transform: uppercase;
    text-decoration: none;
}
#header .navigation ul li a:hover{
    color: #0b63cc;
    -webkit-transition: 0.3s time;
    -moz-transition: 0.3s time;
    -ms-transition: 0.3s time;
    -o-transition: 0.3s time;
    transition: 0.3s time;
}


/* banner configuration */
#banner{
    background: url("../images/banner_bg.jpg") no-repeat center center;
    padding: 115px;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
}
#banner h1{
    font-size:44px;
    text-transform: uppercase;
    font-family: Orbitron;
}
#banner h2{
    font-size:26px;
    font-weight: normal;
    font-family: Orbitron;
    margin-bottom: 30px;
}
.btn-primary{
    font-family: Prototype;
    margin-up:15px;
    border: solid 3px #FFFFFF;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}
.btn-primary:hover{
    background: #ffffff;
    color: #0b64cd;
    -webkit-transition: 0.3s time;
    -moz-transition: 0.3s time;
    -ms-transition: 0.3s time;
    -o-transition: 0.3s time;
    transition: 0.3s time;
}

/*this for our-service*/

#our-services{
    padding: 25px 0;
}
#our-services .title-content{
    font-family: Orbitron;
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}
#our-services .title-content span{
    text-transform: uppercase;
    font-family: Orbitron;
}
.content-list .list-services{
    background: #0a63d2;
    padding: 18px;
    float: left;
    width: 45% ;
    color: #FFFFFF;
}
.content-list .list-services:last-child{
    float: right;
}
.content-list .list-services h2{
    font-family: Prototype;
    text-transform: uppercase;
    font-size:26px;
    margin-bottom:10px;
    margin-top: 0;
}
.content-list .list-services .text{
    line-height: 25px;
    margin-bottom: 25px;
}

.content-list .list-services .button a{
    display: inline-block;
    padding : 10px;
    border: solid 2px #FFFFFF;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.content-list .list-services .button a:hover{
    color: #0b64cd;
    background: #ffffff;
    -webkit-transition: 0.3s time;
    -moz-transition: 0.3s time;
    -ms-transition: 0.3s time;
    -o-transition: 0.3s time;
    transition: 0.3s time;
}

/* this for notofocation subscribe */
#notification-subscribe{
    background: #d7d7d7;
    padding: 25px 0;
    margin-top: 30px;

}
#notification-subscribe h2{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 15px;
}
#notification-subscribe h3{
    margin-top: 0;
    font-size: 26px;
    font-weight: normal;
}
#notification-subscribe .left-content{
   float:left;
}
#notification-subscribe .right-content{
    float:right;
    padding-top: 35px;
}
#notification-subscribe .large-btn{
    display: inline-block;
    background: #0a63d2;
    font-size: 24px;
    padding: 18px 35px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}
#notification-subscribe .large-btn:hover{
    color: #ffffff;
    background: #373737;
    -webkit-transition: 0.3s time;
    -moz-transition: 0.3s time;
    -ms-transition: 0.3s time;
    -o-transition: 0.3s time;
    transition: 0.3s time;
}
/* this for footer configuration */
#footer{
    background: #373737;
    padding : 40px 0;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}

/*now make it responsive */
@media screen and (max-width: 1093px){

    .center{
        width: auto;
        padding : 0 20px;
        margin:0;
    }
}

@media screen and (max-width: 777px){
    #notification-subscribe .left-content,
    #notification-subscribe .right-content{
        float:none;
        text-align: center;
    }
    #notification-subscribe .right-content{
        padding-top: 10px;
    }

    .content-list .list-services,
    .content-list .list-services:last-child{
        width: auto;
        display: block;
        float: none;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 769px){
    #header .navigation,
    #header #logo{
        float: none;
        width: auto;
        margin: 0 auto;
    }
    #header #logo{
        margin-bottom: 15px;
    }
    #header #logo img{
        margin: 0 auto;
        display: table;
    }
    #header .navigation ul{
        display: table;
        margin: 0 auto;
    }
    #banner h1{
        font-size: 30px;
    }
}
/*Faiz Hermawan*/
